/*  your css code here. If applicable */
body > div {
    width: 100px;
    margin: auto;
}

.imageContainer img {
    width: 1100px;
}

table {
    width: 1100px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}